virtual_network_address_space         = "10.45.0.0/16"
management_subnet_address_prefix      = "10.45.1.0/24"
client_subnet_address_prefix          = "10.45.2.0/24"
server_subnet_address_prefix          = "10.45.3.0/24"
location                              = "eastus2"

controlling_subnet                    = "10.10.10.0/24"
resource_group_name                   = "rg-clickops-gitops-demo"

# Secrets are provided via environment variables or GitHub Secrets:
# TF_VAR_citrixadc_rpc_node_password
# TF_VAR_adc_admin_password
