# Terraform
**/.terraform/*
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan

# Editor/OS
.DS_Store
Thumbs.db
.vscode/
.idea/
