# Terraform
**/.terraform/*
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json
!*.auto.tfvars
!*.auto.tfvars.json
backend.tf
backend.hcl
*.backend.hcl
.env
infra/workloads/ad/ansible/ad-secrets.env
infra/workloads/ad/ansible/inventory.ini
infra/workloads/daas/ansible/cc-secrets.env
infra/workloads/daas/ansible/inventory.ini

# Terraform plan files
*.tfplan

# Editor/OS
.DS_Store
Thumbs.db
.vscode/
.idea/
