resource_group_name = "rg-clickops-gitops-foundation-demo"
location            = "canadacentral"

# Enable only what you are actively demoing:
enable_network_hub       = false
enable_storage_fileshare = false
enable_keyvault          = false
enable_identity_entra    = false
enable_adm_agent         = false
enable_compute_gallery   = true

compute_gallery_name        = "cg-clickops-demo"
compute_gallery_description = "Compute Gallery for Citrix base images"

compute_gallery_image_definitions = {
  "ws2022-cvad-apps" = {
    os_type   = "Windows"
    publisher = "Ferroque"
    offer     = "windows-server"
    sku       = "ws2022-cvad-apps"
  }
  "win11-23h2-cvad" = {
    os_type   = "Windows"
    publisher = "Ferroque"
    offer     = "windows-11"
    sku       = "win11-23h2-cvad"
  }
}

compute_gallery_tags = {
  Environment = "demo"
  Purpose     = "citrix-image-gallery"
}
