subscription_id             = "00000000-0000-0000-0000-000000000000"
location                    = "canadacentral"
build_resource_group_name   = "rg-clickops-gitops-foundation-demo"
gallery_resource_group_name = "rg-clickops-gitops-foundation-demo"
gallery_name                = "cgclickopsdemo"
gallery_image_name          = "ws2022-cvad-apps"
gallery_image_version       = "1.0.0"

azure_imgpublisher = "MicrosoftWindowsServer"
azure_imgoffer     = "WindowsServer"
azure_imgsku       = "2022-datacenter-azure-edition"
azure_imgversion   = "latest"

install_chocolatey_packages = false
chocolatey_packages         = []

install_citrix_vda        = false
citrix_vda_installer_url  = ""
citrix_vda_installer_args = ""

run_citrix_optimizer          = false
citrix_optimizer_zip_url      = ""
citrix_optimizer_template_name = "Citrix_Windows_Server_2022_2009.xml"

prepare_for_citrix_mcs = true

managed_image_tags = {
  Environment = "demo"
  Role        = "golden-image"
  OS          = "windows-server-2022"
}
