name: Validate IaC

on:
  pull_request:
    branches: [ "main" ]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Validate (Citrix)
        working-directory: ./citrix/terraform
        run: |
          terraform init -backend=false
          terraform validate

      - name: Terraform Validate (NetScaler)
        working-directory: ./netscaler/terraform
        run: |
          terraform init -backend=false
          terraform validate
